// -----------------
// Home Brand Line
// -----------------

.home-brand-line-container {
  width: 100%;
  height: 122px;
  content: "";

  display: flex;
  justify-content:center;
  background-color: #000;
}

.home-brand-line-content {
  width: $container-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
