// -----------------
// Home Brand Line
// -----------------

.home-brand-line-container {
  width: 100%;
  height: 122px;
  content: "";

  display: flex;
  justify-content:center;
  background-color: #000;
}

.home-brand-line-content {
  width: $container-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px) {
  .home-brand-line-content {
    flex-wrap: wrap;
  }

  .home-brand-line-content img {
    height: 3vw;
  }
}

@media (max-width: 700px) {

  .home-brand-line-content {
    justify-content: space-around;
  }

  .home-brand-line-content img {
    height: 5vw;
  }
}

@media (max-width: 500px) {

  .home-brand-line-content img {
    height: 6vw;
  }
}
