// Specific CSS for your home-page

.home-first-container {
  width: 100%;
  height: calc(100vh - 122px - 6rem - 38px);
  content: "";
  background-color: #F2F0F1;
}

.home-brand-line-container {
  width: 100%;
  height: 122px;
  content: "";

  display: flex;
  justify-content:center;
  background-color: #000;
}

.home-brand-line-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
