<div class="desktop-navbar-container">
  <div class="desktop-navbar-content">

    <div class="logo">Shop.co</div>

    <div class="list">
      <p>Shop</p>
      <p>On sale</p>
      <p>New Arrivals</p>
      <p>Brands</p>
    </div>

    <div class="search">
      <input type="text" placeholder="Search for products...">
    </div>

    <div class="user-logo">
      <p>panier</p>
      <p>compte</p>
    </div>

  </div>
</div>
