<div class="footer-container">
  <div class="footer-top-container">

    <div class="footer-top-white-bgc-div"></div>

    <div class="footer-top-content">

      <div class="footer-top-content-title">
        <h3>Stay upto date about our lastest offers</h3>
      </div>

      <div class="footer-top-input-container">
        <div class="footer-top-content-input">
          <input type="text" placeholder="Enter your email address">
          <button>Subscribe to Newsletter</button>
        </div>
      </div>

    </div>

  </div>

  <div class="footer-bottom-container">
    <div class="footer-bottom-content">

      <div class="footer-bottom-list footer-bottom-list-logo">
        <h4>Shop.co</h4>
        <p>We have clothes that suits your style and which you’re proud to wear. From women to men.</p>
      </div>

      <div class="footer-bottom-list">
        <h6>Company</h6>
        <a href="#">About</a>
        <a href="#">Features</a>
        <a href="#">Works</a>
        <a href="#">Career</a>
      </div>

      <div class="footer-bottom-list">
        <h6>Help</h6>
        <a href="#">Customer Support</a>
        <a href="#">Delivery Details</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Privacy Policy</a>
      </div>

      <div class="footer-bottom-list">
        <h6>FAQ</h6>
        <a href="#">Account</a>
        <a href="#">Manage Deliveries</a>
        <a href="#">Orders</a>
        <a href="#">Payments</a>
      </div>

      <div class="footer-bottom-list">
        <h6>Resources</h6>
        <a href="#">Free eBooks</a>
        <a href="#">Development Tutorial</a>
        <a href="#">How to - Blog</a>
        <a href="#">Youtube Playlist</a>
      </div>

    </div>
  </div>

</div>

<!-- right reserved -->
<div class="footer-right-reserved-container">
  <div class="footer-right-reserved-content">

    <p>© 2021 Shop.co. All Rights Reserved.</p>

  </div>

  <div></div>

</div>
