<div class="phone-navbar-container">
  <div class="phone-navbar-content">

    <div class="phone-navbar-left">
      <div class="phone-navbar-left-burger-container">
        <%= image_tag("burger.svg", alt: "burger") %>
        <p>shop.co</p>
      </div>
    </div>

    <div class="phone-navbar-right">
      <i class="fa-solid fa-magnifying-glass"></i>
      <%= image_tag("cart.svg", alt: "cart") %>
      <%= image_tag("user.svg", alt: "user") %>
    </div>

  </div>
</div>
