<div class="popup-navbar-container">
  <div class="popup-navbar-content">
    <div></div>
    <p>Sign up and get 20% off to your first order. <span>Sign Up Now</span></p>
    <%= image_tag("croix.svg", alt: "brand-line") %>
  </div>
</div>
