<div class="home-browse-container">
  <div class="home-browse-content">

    <div class="home-browse-title">
      <h2>Browse by dress style</h2>
    </div>

    <div class="home-browse-grid-container">
      <div class="home-browse-grid-content">

        <div class="home-browse-grid-top">

          <div class="grid-item">
            <p>Casual</p>
          </div>

          <div class="grid-item">
            <p>Formal</p>
          </div>

        </div>

        <div class="home-browse-grid-bottom">

          <div class="grid-item">
            <p>Party</p>
          </div>

          <div class="grid-item">
            <p>Gym</p>
          </div>

        </div>

      </div>
    </div>


  </div>
</div>
