<div class="home-customers-container">
  <div class="home-customers-content">

    <div class="home-customers-title-and-arrows">
      <h2>our happy customers</h2>
      <div class="home-customers-arrows-container">
        <%= image_tag('arrow_left.svg', class: 'home-customers-arrow-left') %>
        <%= image_tag('arrow_right.svg', class: 'home-customers-arrow-right') %>
      </div>
    </div>


  </div>
</div>
