<div class="home-first-container">
  <div class="home-first-content">

    <div class="home-first-left">
      <h1>Find clothes that matches your style</h1>
      <p>Browse through our diverse range of meticulously crafted garments, designed to bring out your individuality and cater to your sense of style.</p>
      <%= link_to "Shop Now", "#" %>
      <div class="home-first-quantity-container">

        <div class="home-first-quantity">
          <h3>200+</h3>
          <p>International Brands</p>
        </div>

        <div class="home-first-quantity">
          <h3>2,000+</h3>
          <p>High-Quality Products</p>
        </div>

        <div class="home-first-quantity">
          <h3>30,000+</h3>
          <p>Happy Customers</p>
        </div>

      </div>
    </div>

    <div class="home-first-right">
      <%= image_tag("mangirl.webp", class:"mangirl", alt: "home-man-and-girl-image") %>
      <%= image_tag("little_star.svg", class:"little-star", alt: "little_star") %>
      <%= image_tag("big_star.svg", class:"big-star", alt: "little_star") %>
    </div>

  </div>
</div>
