<p style="font-family: 'Satoshi-Light', sans-serif; font-weight: 300;">Satoshi Light - font-weight: 300</p>
<p style="font-family: 'Satoshi-LightItalic', sans-serif; font-weight: 300; font-style: italic;">Satoshi Light Italic - font-weight: 300</p>
<p style="font-family: 'Satoshi-Regular', sans-serif; font-weight: 400;">Satoshi Regular - font-weight: 400</p>
<p style="font-family: 'Satoshi-Italic', sans-serif; font-weight: 400; font-style: italic;">Satoshi Italic - font-weight: 400</p>
<p style="font-family: 'Satoshi-Medium', sans-serif; font-weight: 500;">Satoshi Medium - font-weight: 500</p>
<p style="font-family: 'Satoshi-MediumItalic', sans-serif; font-weight: 500; font-style: italic;">Satoshi Medium Italic - font-weight: 500</p>
<p style="font-family: 'Satoshi-Bold', sans-serif; font-weight: 700;">Satoshi Bold - font-weight: 700</p>
<p style="font-family: 'Satoshi-BoldItalic', sans-serif; font-weight: 700; font-style: italic;">Satoshi Bold Italic - font-weight: 700</p>
<p style="font-family: 'Satoshi-Black', sans-serif; font-weight: 900;">Satoshi Black - font-weight: 900</p>
<p style="font-family: 'Satoshi-BlackItalic', sans-serif; font-weight: 900; font-style: italic;">Satoshi Black Italic - font-weight: 900</p>
<p style="font-family: 'Satoshi-Variable', sans-serif; font-variation-settings: 'wght' 300;">Satoshi Variable - font-weight: 300</p>
<p style="font-family: 'Satoshi-Variable', sans-serif; font-variation-settings: 'wght' 700;">Satoshi Variable - font-weight: 700</p>
<p style="font-family: 'Satoshi-VariableItalic', sans-serif; font-variation-settings: 'wght' 900; font-style: italic;">Satoshi Variable Italic - font-weight: 900</p>


<p style="font-family: 'IntegralCF-Regular', sans-serif; font-weight: 400;">Integral CF Regular - font-weight: 400</p>
<p style="font-family: 'IntegralCF-RegularOblique', sans-serif; font-weight: 400; font-style: italic;">Integral CF Regular Oblique - font-weight: 400</p>
<p style="font-family: 'IntegralCF-Medium', sans-serif; font-weight: 500;">Integral CF Medium - font-weight: 500</p>
<p style="font-family: 'IntegralCF-MediumOblique', sans-serif; font-weight: 500; font-style: italic;">Integral CF Medium Oblique - font-weight: 500</p>
<p style="font-family: 'IntegralCF-DemiBold', sans-serif; font-weight: 600;">Integral CF DemiBold - font-weight: 600</p>
<p style="font-family: 'IntegralCF-DemiBoldOblique', sans-serif; font-weight: 600; font-style: italic;">Integral CF DemiBold Oblique - font-weight: 600</p>
<p style="font-family: 'IntegralCF-Bold', sans-serif; font-weight: 700;">Integral CF Bold - font-weight: 700</p>
<p style="font-family: 'IntegralCF-BoldOblique', sans-serif; font-weight: 700; font-style: italic;">Integral CF Bold Oblique - font-weight: 700</p>
<p style="font-family: 'IntegralCF-ExtraBold', sans-serif; font-weight: 800;">Integral CF ExtraBold - font-weight: 800</p>
<p style="font-family: 'IntegralCF-ExtraBoldOblique', sans-serif; font-weight: 800; font-style: italic;">Integral CF ExtraBold Oblique - font-weight: 800</p>
<p style="font-family: 'IntegralCF-Heavy', sans-serif; font-weight: 900;">Integral CF Heavy - font-weight: 900</p>
<p style="font-family: 'IntegralCF-HeavyOblique', sans-serif; font-weight: 900; font-style: italic;">Integral CF Heavy Oblique - font-weight: 900</p>

<h1>All Items</h1>

<% if @items.present? %>
  <ul>
    <% @items.each do |item| %>
      <li>
        <strong><%= link_to item.name, item_path(item) %></strong><br>
        <%= item.description %><br>
        <strong>Price:</strong> <%= number_to_currency(item.price, unit: "€") %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No items available.</p>
<% end %>

<%= link_to 'Create New Item', new_item_path, class: "btn btn-primary" %>
