<h1>Pages#home template wagon devise</h1>
<h1>ecommerce</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p style="font-family: 'Satoshi-Light', sans-serif; font-weight: 300;">Satoshi Light - font-weight: 300</p>
<p style="font-family: 'Satoshi-LightItalic', sans-serif; font-weight: 300; font-style: italic;">Satoshi Light Italic - font-weight: 300</p>
<p style="font-family: 'Satoshi-Regular', sans-serif; font-weight: 400;">Satoshi Regular - font-weight: 400</p>
<p style="font-family: 'Satoshi-Italic', sans-serif; font-weight: 400; font-style: italic;">Satoshi Italic - font-weight: 400</p>
<p style="font-family: 'Satoshi-Medium', sans-serif; font-weight: 500;">Satoshi Medium - font-weight: 500</p>
<p style="font-family: 'Satoshi-MediumItalic', sans-serif; font-weight: 500; font-style: italic;">Satoshi Medium Italic - font-weight: 500</p>
<p style="font-family: 'Satoshi-Bold', sans-serif; font-weight: 700;">Satoshi Bold - font-weight: 700</p>
<p style="font-family: 'Satoshi-BoldItalic', sans-serif; font-weight: 700; font-style: italic;">Satoshi Bold Italic - font-weight: 700</p>
<p style="font-family: 'Satoshi-Black', sans-serif; font-weight: 900;">Satoshi Black - font-weight: 900</p>
<p style="font-family: 'Satoshi-BlackItalic', sans-serif; font-weight: 900; font-style: italic;">Satoshi Black Italic - font-weight: 900</p>
<p style="font-family: 'Satoshi-Variable', sans-serif; font-variation-settings: 'wght' 300;">Satoshi Variable - font-weight: 300</p>
<p style="font-family: 'Satoshi-Variable', sans-serif; font-variation-settings: 'wght' 700;">Satoshi Variable - font-weight: 700</p>
<p style="font-family: 'Satoshi-VariableItalic', sans-serif; font-variation-settings: 'wght' 900; font-style: italic;">Satoshi Variable Italic - font-weight: 900</p>
