.footer-container {
  margin-top: 80px;
}

.footer-top-container {
  position: relative;
  content: "";
  background-color: #F0F0F0;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-top-white-bgc-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 50%;
  width: 100%;
}

.footer-top-content {
  width: $container-width;
  background-color: #000;
  content: "";
  z-index: 1;
  position: relative;
  border-radius: 20px;
  display: flex;
  padding: 36px 64px;
}

.footer-top-content-title {
  width: 50%;
}

.footer-top-content h3 {
  font-family: 'IntegralCF-Bold';
  font-size: 40px;
  color: #fff;
}

.footer-top-input-container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.footer-top-content-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.footer-top-content-input input {
  padding: 12px 16px 12px 46px;
  font-family: 'Satoshi-Regular';
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
  border-radius: 62px;
  margin-bottom: 14px;
  border: none;
}

.footer-top-content-input-img {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-85%);
}

.footer-top-content-input input:focus-visible {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.footer-top-content-input button {
  padding: 12px 16px;
  font-family: 'Satoshi-Regular';
  font-size: 16px;
  color: #000000;
  border-radius: 62px;
  border: none;
  background-color: #fff;
}

// bottom

.footer-bottom-container {
  content: "";
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #F0F0F0;
  overflow: hidden;
}

.footer-bottom-content {
  padding: 50px 0;
  width: $container-width;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.footer-bottom-list {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.footer-bottom-list-logo h4 {
  font-family: 'IntegralCF-Bold';
  font-size: 33.45px;
  margin-bottom: 30px;
}

.footer-bottom-list-logo p {
  font-family: 'Satoshi-Regular';
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.footer-bottom-list h6 {
  font-family: "Satoshi-Medium";
  font-size: 16px;
  margin-bottom: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.footer-bottom-list a{
  font-family: "Satoshi-Regular";
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}

// right reserved

.footer-right-reserved-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #F0F0F0;
}

.footer-right-reserved-content {
  padding: 25px 0 90px 0;
  width: $container-width;
  display: flex;
  justify-content: space-between;
}

.footer-right-reserved-content p {
  font-family: "Satoshi-Regular";
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.footer-right-reserved-methode-payment-container {
  display: flex;
}

.footer-right-reserved-methode-payment-content {
  height: 30px;
  width: 45px;
  background-color: #fff;
  outline: .2px solid #D6DCE5;
  border-radius: 5.38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.footer-right-reserved-methode-payment-content:last-child {
  margin-right: 0px;
}

@media (max-width: 820px) {

  .footer-bottom-list {
    width: 50%;
    max-width: 50%;
    margin-bottom: 30px;
  }

}

@media (max-width: 870px) {
  .footer-top-content {
    flex-direction: column;
  }

  .footer-top-content-title {
    width: 100%;
  }

  .footer-top-input-container {
    width: 100%;
    margin-top: 36px;
  }

  .footer-top-content-input {
    width: 100%;
  }

  .footer-top-content-input input {
    width: 100%;
  }
}

@media (max-width: 1020px) {

  .footer-bottom-content {
    flex-wrap: wrap;
  }

  .footer-bottom-list-logo {
    min-width: 100%;
  }

}

@media (max-width: 670px) {

  .footer-right-reserved-content {
    flex-direction: column;
    align-items: center;
  }

}
