.footer-container {
  margin-top: 80px;
}

.footer-top-container {
  position: relative;
  content: "";
  background-color: #F0F0F0;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-top-white-bgc-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 50%;
  width: 100%;
}

.footer-top-content {
  width: $container-width;
  background-color: #000;
  content: "";
  z-index: 1;
  position: relative;
  border-radius: 20px;
  display: flex;
  padding: 36px 64px;
}

.footer-top-content-title {
  width: 50%;
}

.footer-top-content h3 {
  font-family: 'IntegralCF-Bold';
  font-size: 40px;
  color: #fff;
}

.footer-top-input-container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.footer-top-content-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.footer-top-content-input input {
  padding: 12px 16px;
  font-family: 'Satoshi-Regular';
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
  border-radius: 62px;
  margin-bottom: 14px;
  border: none;
}

.footer-top-content-input input:focus-visible {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.footer-top-content-input button {
  padding: 12px 16px;
  font-family: 'Satoshi-Regular';
  font-size: 16px;
  color: #000000;
  border-radius: 62px;
  border: none;
  background-color: #fff;
}

// bottom

.footer-bottom-container {
  content: "";
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #F0F0F0;
}

.footer-bottom-content {
  padding: 50px 0;
  width: $container-width;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.footer-bottom-list {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.footer-bottom-list-logo h4 {
  font-family: 'IntegralCF-Bold';
  font-size: 33.45px;
  margin-bottom: 30px;
}

.footer-bottom-list-logo p {
  font-family: 'Satoshi-Regular';
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.footer-bottom-list h6 {
  font-family: "Satoshi-Medium";
  font-size: 16px;
  margin-bottom: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.footer-bottom-list a{
  font-family: "Satoshi-Regular";
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}

// right reserved

.footer-right-reserved-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #F0F0F0;
}

.footer-right-reserved-content {
  padding: 25px 0 90px 0;
  width: $container-width;
  display: flex;
  justify-content: space-between;
}
